@model Category
@{
}
<form method="post" asp-action="AddCategory" class="container border-1 my-5" >
   @*  <div class="form-group">
        <label asp-for="CategoryId"></label>
        <input type="text" class="form-control" asp-for="CategoryId" />

    </div> *@
    <div class="form-group" >
        <label class="" asp-for="CategoryName"></label>
        <input type="text" class="form-control" asp-for="CategoryName" />

    </div>

    <div class="btn btn-group">
        <button asp-action="AddCategory" 
        asp-area="Admin" asp-controller="Category"
        class="btn btn-primary" type="submit" ><i class="fa-solid fa-plus"></i> Add Category </button>
        <a asp-action="Index" asp-area="Admin" asp-controller="Category" class="btn btn-danger"> List Categories <i class="fa-solid fa-rotate-right"></i></a>



    </div>
   

</form>